music_controller/api/__pycache__/*
music_controller/api/__init__.py
music_controller/api/migrations/*
music_controller/db.sqlite3

music_controller/music_controller/__init__.py
music_controller/music_controller/__pycache__/*
.env

music_controller/frontend/migrations
music_controller/frontend/node_modules
music_controller/frontend/__pycache__/*